<h1>What is this app?</h1>
<p>This app is where you can put any ideas that you have when out and about, or
  in as you can log in
  on any device (So long as you have the password!) as you
   can add images, a name and a description you can use it for lots of things,
   eg a diary or for stories or just things you think of.






 hope you enjoy! =) </p>
